
from facts import Desire, Response

#i=0

rule rule_e:
	#agenda-group "rooms"
	when:
		$desire := Desire(id == Desire.WANT_ROOM)
	then:
		#attribute i = i + 1
		learn Response(Response.output("WANT_ROOM"))
