
from facts import Desire, Response

#i=0



rule want_room:
	#agenda-group "rooms"
	when:
		$desire := Desire(id == Desire.WANT_ROOM)
	then:
		#attribute i = i + 1
		learn Response(Response.ASK_ROOM_TYPE)
		
rule want_room:
	when:
		$desire := Desire(id == Desire.ESTABLISH_ROOM_TYPE)
	then:
		data = $desire.data
		forget $desire
		msg1 = Response.CONFIRM_ROOM_TYPE.replace("{room_type}", data["room_type"])
		msg2 = next_question()
