
from facts import Goal, Response

#i=0

rule want_room:
	#agenda-group "rooms"
	when:
		$goal := Goal(id == Goal.WANT_ROOM)
	then:
		#attribute i = i + 1
		#msg = next_question()
		learn Response([], Response.KEYBOARD_ROOM_TYPES)
		
rule room_type:
	when:
		$goal := Goal(id == Goal.ESTABLISH_ROOM_TYPE)
	then:
		# Get needed data
		data = $goal.data
		
		# Modify room type in the current reservation
		reserv = reservation()
		
		msg = response_from_room_types(reserv.room_type, data["room_type"])
		learn Response(msg)
		
rule init_date:
	when:
		$goal := Goal(id == Goal.ESTABLISH_INIT_DATE)
	then:
		# Get needed data
		data = $goal.data
		
		# Modify start date in the current reservation
		#reserv = reservation()
		#reserv.init_date = data["init_date"]
		
		msg = response_from_init_date(data["init_date"])
		
		#msg1 = Response.CONFIRM_DATE.replace("{date}", data["init_date"])
		#msg2 = next_question()
		learn Response(msg)
		
rule end_date:
	when:
		$goal := Goal(id == Goal.ESTABLISH_END_DATE)
	then:
		# Get needed data
		data = $goal.data
		
		# Modify end date in the current reservation
		reserv = reservation()
		reserv.end_date = data["end_date"]
		
		msg = Response.CONFIRM_END_DATE.replace("{date}", data["end_date"])
		learn Response([msg])
		
rule pension_type:
	when:
		$goal := Goal(id == Goal.ESTABLISH_PENSION_TYPE)
	then:
		# Get needed data
		data = $goal.data
		
		# Modify pension type in the current reservation
		reserv = reservation()
		reserv.pension_type = data["pension_type"]
		
		msg = Response.CONFIRM_PENSION_TYPE.replace("{pension_type}", data["pension_type"])
		
		learn Response(msg)

rule show_summary:
	when:
		$goal := Goal(id == Goal.SHOW_SUMMARY)
	then:
		show_summary()
		learn Response([])
		
rule set_service:
	when:
		$goal := Goal(id == Goal.ASK_SERVICE)
	then:		
		# Get needed data
		data = $goal.data
		
		services = data["services"]
		msg = set_services(services)
		learn Response([msg], None, False)

rule finish_reservation:
	when:
		$goal := Goal(id == Goal.CONFIRM_RESERVATION)
	then:		
		# Get needed data
		data = $goal.data
		
		user_resp = data["response"]
		msg = confirm_reservation(user_resp)
		learn Response([msg], None, False)
		
rule show_rooms:
	when:
		$goal := Goal(id == Goal.SHOW_ROOMS)
	then:		
		msg = Response.SHOW_ROOMS
		learn Response([msg], None, False, Response.ACTION_SHOW_ROOMS)
